@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titulo{
    display: flex;
    width: 100%;
}
.tituloJuan{
    position: absolute;
    font-size: 40px;
    margin: auto;
    right: 50%;
    animation: ease;
    animation-name: slideinTitle;
    animation-duration: 3s;
}

.cabecera{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cubo-P{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation: ease-in-out;
    animation-name: slidein;
    animation-duration: 3s;
    justify-content: center;
    font-size: 40px;
    align-items: flex-start;
    
}

.cubo1{transition: width 2s, height 2s, background-color 2s,transform 5s, opacity 6s; }
.cubo2{transition: width 2s, height 2s, background-color 2s,transform 5s,}



.cubo1:hover{
    background-color: burlywood;
    width: 280px;
    height: 280px;
    transform: scale(0.5);
    align-items: center;
    opacity: 0;
}

.cubo2{
    background-color: chartreuse;
}

.cubo2:hover{
    background-color: burlywood;
    width: 280px;
    height: 280px;
    transform: scale(1);
    align-items: center;
}

.michi{
    display: flex;
    width: 50%;
    height: auto;
    animation: ease-in-out;
    animation-name: "";
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transition: transform 3s;
}

.michi:hover{
    transform:rotate(360deg) ;
}

.cubo3{
animation-iteration-count: infinite;
animation-name: temblar;
animation-duration: 3s;
}





/* animacion */
@keyframes slidein {
    from {
    margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes slideinTitle {
    from {
    right: 100%;
    }
    to {
        right:50%;
    }
}

@keyframes slideup {
    from {
        margin-top:100%;
    }
    to {
        margin-top:0%;
    }
}

@keyframes temblar {

    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
<<<<<<< HEAD
=======
@keyframes infinito {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes Llegadaderecha {
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    60%{
        opacity: 0.8;
        transform: translateX(-80px);
    }
    80%{
        opacity: 0.9;
        transform: translateX(15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes Llegadaizquierda{
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    60%{
        opacity: 0.8;
        transform: translateX(80px);
    }
    80%{
        opacity: 0.9;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes Llegadaabajo{
    0%{
        opacity: 0;
        transform: translateY(1000px);
    }
    60%{
        opacity: 0.8;
        transform: translateY(-80px);
    }
    80%{
        opacity: 0.9;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Llegadaarriba{
    0%{
        opacity: 0;
        transform: translateY(-1000px);
    }
    60%{
        opacity: 0.8;
        transform: translateY(80px);
    }
    80%{
        opacity: 0.9;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes rotation {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
    }
  }

/*GIROS*/
.giro_completo:hover{
    transform: rotate(360deg);
}
.giro_completo_left:hover{
    transform: rotate(-360deg);
}
.medio_giro_completo_right:hover{
    transform: rotate(180deg);
}
.medio_giro_completo_left:hover{
    transform: rotate(-180deg);
}
.giroinfinito{
	animation-name: rotation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


/*TRANSICIONES*/

.slideRight{
    animation-name: Llegadaderecha;
    animation-duration: 3s;
}
.slideLeft{
    animation-name: Llegadaizquierda;
    animation-duration: 3s;
}
.slideBottom{
    animation-name: Llegadaabajo;
    animation-duration: 3s;
}
.slideTop{
    animation-name: Llegadaarriba;
    animation-duration: 3s;
}
/*Zoom*/

.zoom{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid red;
    width: 50%;
    padding: 20px 0;
    column-gap: 10px;
    row-gap: 15px;
}
.Zoomin:hover{
    transform: scale(1.5);
}
.Zoomout:hover{
    transform: scale(0.1);
}
/*Animaciones*/
.animaciones{
    display:grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
    width: 99%;
    column-gap: 10px;
    row-gap: 10px;
    padding-left: 700px;
}
.imag img:hover{
    animation: translate-3d 3s 1;
    backface-visibility: visible;
  }
  @keyframes translate-3d{
    40%{
      transform: perspective(300px) translateZ(120px) rotateY(170deg);
    }
    50%{
      transform: perspective(300px) translateZ(120px) rotateY(190deg);
    }
    80%{
      transform: perspective(300px) translateZ(0px) rotateY(360deg)
    }
    100%{
      transform: perspective(300px) rotateY(360deg);    
    }
  }

  span {
    transform: translate(-50%, -50%);
    display: grid;
    color: #c55d5d;
    font-size: 124px;
    letter-spacing: 8px;
    cursor: pointer;
  }

  span::before {
    content: "PAULIS";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      rgb(206, 152, 152) 2px,
      rgb(206, 152, 152) 4px,
    );
   background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }

  span::after {
    content: "PAULIS";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      rgb(192, 83, 83) 2px,
      rgb(192, 83, 83) 4px,
    );
   background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }

  span:hover:before {
    top: 10px;
    left: 10px;
  }

  span:hover:after {
    top: -10px;
    left: -10px;
  }
>>>>>>> remotes/origin/Paula
